<header>
  <div class="row">
    <div class="col-md-10"></div>
    <div class="col-md-2">
      <%= link_to "+ New", new_event_type_path, class: 'btn' %>
    </div>
  </div>
</header>
<div class="container">
  <div class="table" role="table" aria-describedby="event-types-table">
    <p class="sr-only" id="event-types-table">A list of event types</p>
    <div class="header" role="rowgroup">
      <div class="row" role="row">
        <div class="col" role="columnheader">Name</div>
        <div class="col" role="columnheader">Created At</div>
        <div class="col" role="columnheader"></div>
      </div>
    </div>

    <div class="body" role="rowgroup">
      <% if @event_types.present? %>
        <% @event_types.each do |event_type| %>
          <div class="row" role="row">
            <div class="col" role="cell">
              <%= event_type.name %>
            </div>
            <div class="col" role="cell">
              <%= event_type.c_at %>
            </div>
            <div class="col" role="cell">
              <%= link_to 'Edit', edit_event_type_path(event_type) %>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="row" role="row">
          <p role="cell" aria-colspan="3">You have no event types</p>
        </div>
      <% end %>
    </div>
  </div>
</div>